@import "bootstrap";
@import "base/fonts";

.title {
    line-height: 1;
}

.section {
    margin-bottom: 20px;
}

.checkbox {
    margin-left: 5px;
}

.submit-button {
    margin-top: 10px;
}

.danger-light,
.required {
    color: #F08080;
}

.warning {
    color: #ffcc00;
}

.danger {
    color: #DC143C;
}

.default {
    .ant-btn {
        &:hover {
            background: lighten(#DC143C, 7%);
            color: #fff;
        }
    }

    .ant-btn.ant-btn-danger {
        &,
        &:hover {
            color: #fff;
        }
    }
}

.dark {
    .ant-btn.ant-btn-danger {
        &,
        &:hover {
            color: #fff;
        }

        &:hover {
            background: lighten(#DC143C, 7%);
        }
    }
}