@import "bootstrap";

.title {
    line-height: 1;
}

.section {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
}

.checkbox {
    margin-left: 5px;
}

.submit-button {
    margin-top: 10px;
}