@import "bootstrap";
@import "base/fonts";

.title {
    line-height: 1;
}

.section {
    margin-bottom: 20px;
}

.checkbox {
    margin-left: 5px;
}

.submit-button {
    margin-top: 10px;
}

.danger-light,
.required {
    color: #F08080;
}

.warning {
    color: #ffcc00;
}

.danger {
    color: #DC143C;
}

// TODO: Light theme
.ant-btn.ant-btn-danger {
    &,
    &:hover {
        color: #DC143C;
    }

    &:hover {
        background: lighten(#DC143C, 51%);
    }
}
