@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;700&display=swap');

body {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 15px;
}

:root {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 15px;
}
